<launch>
    <arg name="vcg_file" default="$(find os5000)/rviz/os5000.vcg"/>

    <param name="robot_description" command="$(find xacro)/xacro.py '$(find os5000)/urdf/os5000.urdf.xacro'"/>
    
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg vcg_file)"/>
    <!--node pkg="rqt_gui" type="rqt_gui" name="rqt_gui"/-->
</launch>
